[Unit]
Description=Firemergency server

[Service]
ExecStart=/bin/sh start.sh server
WorkingDirectory=/home/pi/firemergency/firEmergency1.9.9.33-Linux
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
